<div style="text-align: center; padding: 10vw;">
  <h1 style="font-weight: bolder; font-size: 31pt;">Poke API</h1>
  <h2>Examen Desarrollador Java SR | JOSUÉ CERVANTES</h2>
  <p>Escriba el número o el nombre de un Pokémon para buscarlo en la Pokedex de la PokeAPI</p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Escriba aquií...</mat-label>
      <input matInput placeholder="Pikachu">
      <mat-icon matSuffix>search</mat-icon>
      <mat-hint>Nombre o número del Pokémon</mat-hint>
    </mat-form-field>
  </p>
  <button mat-raised-button color="primary">Buscar</button>
</div>